[submodule ".ci"]
	path = .ci
	url = https://www.github.com/ThePalaceProject/android-ci
[submodule "org.thepalaceproject.android.platform"]
	path = org.thepalaceproject.android.platform
	url = https://www.github.com/ThePalaceProject/android-platform
